.suggestionItem {
    margin-top: 5px;
    border: 1px solid rgba(0, 0, 0, 0.3);
    border-radius: 5px;
    padding: 10px;
}

.suggestionItem:hover {
    background-color: rgba(0, 0, 0, 0.03);
    cursor: pointer;
}